<h2> {% trans %}Table of Content{% endtrans %}</h2>

<div id="toc">
    <ul>
        <li>
            <a href="#faq">
                {% trans %}FAQ{% endtrans %}
            </a>
            <ul>
                <li>
                    <a href="#about">
                        {% trans %}About route.lw1.at{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#data">
                        {% trans %}Data{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#linecolor">
                        {% trans %}Line Colors{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#ui">
                        {% trans %}UI{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#indoor">
                        {% trans %}Transfer/Indoor Routing{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#realtime">
                        {% trans %}Realtime Data{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#technical-details">
                        {% trans %}Technical Details{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#this-website">
                        {% trans %}About this website{% endtrans %}
                    </a>
                </li>
            </ul>
            <a href="#licenses">
                {% trans %}Datasets and Licenses{% endtrans %}
            </a>
            <ul>
                <li>
                    <a href="#datasets">
                        {% trans %}GTFS Datasets{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#line-color-data">
                        {% trans %}Line Color Data{% endtrans %}
                    </a>
                </li>
            </ul>
        <li>
            <a href="#footnotes">
                {% trans %}Footnotes{% endtrans %}
            </a>
        </li>
        </li>
    </ul>

</div>